# Python
__pycache__/
*.py[cod]
*.egg-info/

# Ambiente virtual
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Variáveis de ambiente
.env

# Editores/SO
.vscode/
.idea/
.DS_Store
